.grid-header {
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.grid-header > .week-number-header {
  width: 75px;
}

.grid-header > .weekdays-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.grid-header > .weekdays-container > .weekday-header {
  width: 100%;
}
