.calendar-header {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  text-align: center;
}

.calendar-header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #a9c6f5;
  margin: 1px;
}

.calendar-header > .change-prev,
.calendar-header > .change-next {
  width: 40px;
  cursor: pointer;
}

.calendar-header > .change-prev.blocked {
  color: #aaa;
  background-color: #e0e0e0;
  cursor: default;
}

.calendar-header > .month-year-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.calendar-header > .month-year-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-header > .month-year-container > div > select {
  height: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.calendar-header > .month-year-container > .year-container > select {
  width: 57px;
  margin-left: 2px;
}

.calendar-header > .month-year-container > .month-container > select {
  width: 100px;
  margin-right: 2px;
}
