.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 1px;
  border: 1px solid #a9c6f5;
  cursor: pointer;
}

.day:hover {
  background-color: #29ff9b;
}

.day.error:hover {
  background-color: #ffa8a8;
}

.day.today {
  font-weight: bold;
  color: #1eb4d6;
}

.day.blocked {
  cursor: default;
  background-color: #ffa8a8 !important;
}

.day.chosen {
  background-color: #29ff9b;
}

.day.chosen.error {
  background-color: #ffa8a8;
}

.day.span {
  background-color: #b5ffdc;
}

.day.span.error {
  background-color: #ffd6d6;
}

.day.before {
  cursor: default;
  background-color: #e0e0e0 !important;
}

.day.other {
  color: #aaa;
}

.day.holiday {
  color: #f00;
}

.day.holiday.other {
  color: #ffa8a8;
}

.day.holiday.other.error:hover {
  color: #f00;
}
